<div class="container">
  <h1>Blog Post</h1>
  {{#each posts as |post|}}
  <div class="card">
    <a href='/posts/{{id}}'><h3>
      {{title}}
    </h3></a>
    <div class="card-body">
      {{body}}
    </div>
  </div>
  {{/each}}
</div>